@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --font-size: 22px;
  --color-light-gray: #f2f2f2;
  --color-basic: #333333;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-light-gray);
  color: var(--color-basic);
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0  rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #756175;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 610px;
  margin-right: auto;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  max-width: 300px;
  list-style-type: none;
}

.main {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-color: rgba(131, 179, 211, 0.2);
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 82px;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-text {
  margin: 0;
  line-height: 1.18;
  text-align: center;
}

.advantages-page-title {
  padding-top: 69px;
  padding-right: 290px;
  padding-bottom: 25px;
  padding-left: 290px;
}

.advantages-page-description {
  padding-right: 274px;
  padding-bottom: 69px;
  padding-left: 274px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  display: flex;
  min-width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-dark .advantages-title {
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0;
  padding: 113px;
  padding-bottom: 62px;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-dark {
  padding-top: 102px;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  padding-right: 85px;
  padding-bottom: 113px;
  padding-left: 85px;
}

.advantages-description-dark {
  padding-bottom: 102px;
}

.advantages-photo {
  display: block;
  width: 800px;
}

.advantages-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-additional-page-title {
  padding-top: 64px;
  padding-right: 348px;
  padding-bottom: 20px;
  padding-left: 348px;
}

.advantages-additional-text {
  padding-right: 355px;
  padding-bottom: 64px;
  padding-left: 355px;
}

.advantages-additional-item {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-hotel-title {
  padding-top: 96px;
  padding-right: 452px;
  padding-bottom: 20px;
  padding-left: 452px;
}

.search-hotel-description {
  padding-right: 304px;
  padding-bottom: 54px;
  padding-left: 304px;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: none;
  background-color: #ffffff;
}

.subscribe-special {
  background: url("../images/mountains-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe-title {
  color: #000000;
  padding-top: 96px;
}

.subscribe-special .subscribe-title {
  color: #ffffff;
}

.subscribe-special .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 104px;
}

.input-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  background-color: var(--color-light-gray);
}

.subscribe-button {
  font-size: 20px;
  line-height: 1.8;
  background-color: #82b3d3;
  border: 0;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.social {
  margin: 0;
  padding: 0;
  max-width: 145px;
  list-style-type: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*Catalog*/

.main-header {
  background: url("../images/canyon-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
  color: #ffffff;
}

.main-heading {
  font-size: 60px;
  line-height: 1.3;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.31;
  text-decoration: none;
}

.filter {
  width: 1060px;
  margin: 0 auto;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
}

.filter-group:last-child {
  margin: 0;
}

.filter-group-type {
  margin-right: 140px;
}

.filter-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  font-size: 18px;
  line-height: 1.28;
}

.filter-button-wrapper {
  margin-top: auto;
}

.filter-button {
  background-color: #82b3d3;
  border: 0;
}

.filter-button-reset {
  background-color: rgba(0, 0, 0, 0);
}

.catalog-hotel {
  width: 1060px;
  margin: 0 auto;
}

.catalog-hotel-sorting {
  display: flex;
  margin: 0 auto;
}

.catalog-hotel-title {
  padding: 0;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
  margin-right: 70px;
}

.view {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-link-title {
  text-decoration: none;
}

.cards-title {
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

.cards-text {
  font-size: 18px;
  line-height: 1.17;
}

.cards-button {
  border: 0;
}

.favourites-button {
  background-color: #82b3d3;
}

.favourites-button-selected {
  background-color: #7db54f;
}

.cards-rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: var(--color-light-gray);
}

.pagination-link {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  background-color: var(--color-light-gray);
  color: #000000;
}

.pagination-light {
  background-color: #ffffff;
  color: #000000;
}
