@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --font-size: 22px;
  --color-light-gray: #f2f2f2;
  --color-basic: #333333;
  --border-radius: 4px;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-light-gray);
  color: var(--color-basic);
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0  rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #756175;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  gap: 30px;
}

.navigation-logo {
  width: 140px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 610px;
  margin-right: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-button {
  display: block;
  padding: 8px 34px;
  border-radius: var(--border-radius);
}

.main {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 69px 274px;
  margin-bottom: 21px;
}

.page-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-text {
  margin: 0;
  line-height: 1.18;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item-dark-wrapper {
  margin: 102px 85px;
}

.advantages-item-wrapper {
  margin: 113px 85px;
}

.advantages-item-dark .advantages-title {
  color: #ffffff;
}

.advantages-item {
  width: 400px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd):not(.advantages-item-dark) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  display: flex;
  min-width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  padding-bottom: 62px;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.advantages-photo {
  display: block;
  width: 800px;
}

.advantages-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-additional-wrapper {
  padding: 64px 347px;
}

.advantages-additional-list .advantages-additional-light {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.advantages-additional-item-wrapper {
  margin: 81px 85px;
}

.advantages-additional-list .advantages-additional-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 304px;
}

.search-hotel-title {
  margin-bottom: 20px;
}

.search-hotel-description {
  margin-bottom: 54px;
}

.search-hotel-button {
  display: block;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  padding: 8px 50px;
  margin: 0 108px;
  border-radius: var(--border-radius);
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: none;
  background-color: #ffffff;
  padding: 96px 258px;
}

.subscribe-special {
  background: url("../images/mountains-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe-title {
  color: #000000;
  margin-bottom: 20px;
}

.subscribe-special .subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  margin-bottom: 54px;
}

.subscribe-special .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
  margin-bottom: 8px;
}

.input-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  background-color: var(--color-light-gray);
  grid-column: 1/2;
  border: 0;
}

.subscribe-button {
  font-size: 20px;
  line-height: 1.8;
  background-color: #82b3d3;
  border: 0;
  grid-column: 2/3;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 70px;
  margin: 0 auto;
  gap: 42px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 145px;
  list-style-type: none;
}

.social-item {
  width: 47px;
  height: 40px;
  background-color: #000000;
  border: 2px solid #ffffff;
}

.social-link {
  background-image: url(../images/icons/vkontacte.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts-phone {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*Catalog*/

.main-header {
  background: url("../images/canyon-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 70px;
  padding-top: 35px;
}

.main-heading {
  margin: 0;
  font-size: 60px;
  line-height: 1.3;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.31;
  text-decoration: none;
}

.filter {
  width: 1060px;
  margin: 0 auto;
}

.filter-form {
  display: flex;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
}

.filter-group:last-child {
  margin: 0;
}

.filter-group-type {
  margin-right: 140px;
}

.filter-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  font-size: 18px;
  line-height: 1.28;
}

.filter-button-wrapper {
  margin-top: auto;
}

.filter-button {
  background-color: #82b3d3;
  border: 0;
  padding: 8px 50px;
  margin-bottom: 32px;
  border-radius: var(--border-radius);
}

.filter-button:last-child {
  margin-bottom: 0;
}

.filter-button-reset {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 57px;
}

.catalog-hotel {
  margin: 0 auto;
  padding: 57px 70px;
}

.catalog-hotel-sorting {
  display: flex;
  margin: 0 auto;
  gap: 70px;
  margin-bottom: 40px;
}

.catalog-hotel-title {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
}

.view {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.view-item {
  width: 48px;
  height: 48px;
  background-color: #000000;
  border: 2px solid #ffffff;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 80px;
}

.card-link-title {
  text-decoration: none;
}

.cards-title {
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

.cards-text {
  font-size: 18px;
  line-height: 1.17;
}

.cards-button {
  border: 0;
}

.favourites-button {
  background-color: #82b3d3;
}

.favourites-button-selected {
  background-color: #7db54f;
}

.cards-rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: var(--color-light-gray);
}

.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 3px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
}

.pagination-current {
  background-color: var(--color-light-gray);
  color: #000000;
}

.pagination-light {
  background-color: #ffffff;
  color: #000000;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
}
