@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --font-size: 22px;
  --color-light-gray: #f2f2f2;
  --color-basic: #333333;
  --border-radius: 4px;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-light-gray);
  color: var(--color-basic);
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 8px 15px 0  rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
  padding-left: 70px;
  column-gap: 30px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  margin: 0 auto 0 0;
  padding: 0;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-button {
  display: block;
  padding: 8px 34px;
  border-radius: var(--border-radius);
}

.main {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-color: rgba(131, 179, 211, 0.2);
  padding: 51px 70px 82px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.special-wrapper {
  display: flex;
  flex-direction: column;
  width: 655px;
  margin: 0 auto;
}

.advantages-wrapper {
  padding: 69px 0;
  margin-bottom: 20px;
}

.advantages-additional-wrapper {
  padding: 64px 0;
}

.page-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-text {
  margin: 0;
  line-height: 1.18;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item-dark-wrapper {
  padding: 102px 85px;
}

.advantages-item-wrapper {
  width: 230px;
  margin: 0 auto;
  padding-top: 113px;
  padding-bottom: 113px;
}

.advantages-item-dark .advantages-title {
  color: #ffffff;
}

.advantages-item {
  flex-grow: 1;
  width: 400px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd):not(.advantages-item-dark) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  padding-bottom: 62px;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.advantages-photo {
  display: block;
  width: 800px;
}

.advantages-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-additional-list .advantages-additional-light {
  background-color: #ffffff;
}

.advantages-additional-item-wrapper {
  padding-top: 81px;
  padding-bottom: 81px;
}

.advantages-additional-list .advantages-additional-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 96px;
}

.wrapper-additional {
  padding: 96px 0 54px;
}

.search-hotel-title {
  margin-bottom: 20px;
}

.search-hotel-button {
  display: block;
  padding: 8px 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  border-radius: var(--border-radius);
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 104px;
  background-image: none;
  background-color: #ffffff;
}

.subscribe-wrapper {
  padding: 96px 0 54px;
}

.subscribe-special {
  background: url("../images/mountains-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe-title {
  color: #000000;
  margin-bottom: 20px;
}

.subscribe-special .subscribe-title {
  color: #ffffff;
}

.subscribe-special .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr min-content;
  min-width: 684px;
}

.input-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  background-color: var(--color-light-gray);
  border: 0;
}

.subscribe-button {
  font-size: 20px;
  line-height: 1.8;
  background-color: #82b3d3;
  border: 0;
  padding: 8px 50px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 70px;
  margin: 0 auto;
  gap: 42px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 145px;
  list-style-type: none;
}

.social-item {
  width: 47px;
  height: 40px;
  background-color: #000000;
  border: 2px solid #ffffff;
}

.social-link {
  background-image: url(../images/icons/vkontacte.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

/*Catalog*/

.main-header {
  background: url("../images/canyon-background.jpg") no-repeat;
  background-size: cover;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 70px;
  padding-top: 35px;
}

.main-heading {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 1.3;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.31;
  text-decoration: none;
}

.filter {
  width: 1060px;
  margin: 0 auto;
}

.filter-form {
  display: flex;
}

.filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-group:last-child {
  margin: 0;
}

.filter-group-type {
  margin-right: 140px;
}

.filter-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  font-size: 18px;
  line-height: 1.28;
}

.filter-button-wrapper {
  margin-top: auto;
}

.filter-button {
  background-color: #82b3d3;
  border: 0;
  border-radius: var(--border-radius);
  padding: 8px 50px;
  margin-bottom: 32px;
}

.filter-button:last-child {
  margin-bottom: 0;
}

.filter-button-reset {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 57px;
}

.catalog-hotel {
  margin: 0 auto;
  padding: 57px 70px;
}

.catalog-hotel-sorting {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 70px;
}

.catalog-hotel-title {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
}

.view {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.view-item {
  width: 48px;
  height: 48px;
  background-color: #000000;
  border: 2px solid #ffffff;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.cards-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  padding: 20px;
  gap: 16px 20px;
  box-shadow: 0 0 5px 0 rgb(229, 229, 229);
}

.cards-link-image {
  grid-column: 1/-1;
}

.cards-image {
  display: block;
}

.card-link-title {
  text-decoration: none;
  grid-column: 1/-1;
}

.cards-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

.cards-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
}

.cards-price {
  justify-self: end;
}

.cards-button {
  padding: 8px 26px;
  border: 0;
  border-radius: var(--border-radius);
}

.favourites-button {
  padding: 8px 20px;
  background-color: #82b3d3;
}

.favourites-button-selected {
  padding: 8px 18px;
  background-color: #7db54f;
}

.stars {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
}

.one-stars {
  width: 18px;
}

.two-stars {
  width: 36px;
}

.three-stars {
  width: 54px;
}

.four-stars {
  width: 72px;
}

.five-stars {
  width: 90px;
}

.cards-rating {
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: var(--color-light-gray);
}

.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: var(--border-radius);
  min-width: 60px;
  padding: 12px 18px;
}

.pagination-current {
  background-color: var(--color-light-gray);
  color: #000000;
}

.pagination-light {
  background-color: #ffffff;
  color: #000000;
  min-width: 60px;
  padding: 12px 18px;
}
